body{
    font-family: 'Nunito', sans-serif;
}
.header{
    min-height: 800px;
    margin-bottom: 120px;
}
.header-table{
    width: 630px;
    height: 800px;
    background: url(../img/header-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}

.header-container{
    height: 540px;
    display: flex;
    align-items: center;
}
.nav-link.active{
    color: #DAA520 !important;
}
.funiture-text-center{
    align-items: center;

}
.funiture{
    min-height: 415px;
}
.funiture h3{
    color: #3E3F43;
    font-size: 2.25rem;
}
.funiture p{
    font-size: 1.5rem;
    font-weight: 600;
}
.header-with-logo{
    background: url(../img/logito1.png);
    background-repeat: no-repeat;
    margin-left: 30px;
    padding-left: 60px;
}
.cucharas{
    background: url(../img/cucharas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 17%;
    position: absolute;
    right: 16px;
    top: -15px;
}
.text-gray-opacity{
    color: rgba(34,34,34, 0.1);
}
@media (max-width: 576px){
    .header-table{
        position: initial;
        width: 100%;
        min-height: 470px;
        height: auto;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
}
@media (min-width: 786px) and (max-width: 991.98px) {   
}
.font1 {
    font-size: 2.25rem;
}
.logo3{
    min-height: 415px;
    text-align: center;
    width: 91%;
    height: 0%;
}

.with-logo3{
    background: url(../img/logito1.png);
    background-repeat: no-repeat;
    margin-left: -30px;
    padding-left: 40px;
}
.logo3{
    font-size: 1.75rem;
    
}
.h3{
    color: #3E3F43;
    font-size: 1.25rem;
    width: 105%;  
}
.header-with-logo1{
    background: url(../img/logito1.png);
    background-repeat: no-repeat;
    margin-left: -30px;
    padding-left: 60px;
}